<form action="index.html?views=profile" method="POST">
    <div id="content" style="padding: 0;">
        <div class="banner" style="margin-top: 80px;">
            <div class="banner-text">
                <p style="font-family: 'Righteous', cursive; font-size: 80px;">SALAM <span
                        style="font-family: 'Righteous', cursive; color: #3EB3D9;">SATU SUARA!</span> PASTI!</p>
                <p style="font-size: 33px;">HIMPUNAN MAHASISWA TEKNIK INFORMATIKA</p>
                <p style="font-size: 18px;">UNIVERSITAS ISLAM NEGERI SULTAN SYARIF KASIM RIAU</p>
            </div>
            <button class="banner-btn" type="submit">ABOUT US</button>
        </div>
    
        <div class="vm-bag">
            <div class="visi">
                <div class="vismis-title">VISI</div>
                <div class="vismis-vl">
                    <p>Terwujudnya HIMA SI sebagai Pencipta, Pelopor, dan Pengemban amanat intelektual yang bertanggung
                        jawab untuk meningkatkan harkat martabat Program Studi Sistem Informasi & Manajemen Informatika.</p>
                    <p>Terwujudnya HIMA SI sebagai Pencipta, Pelopor, dan Pengemban amanat intelektual yang bertanggung
                        jawab untuk meningkatkan harkat martabat</p>
                </div>
            </div>
            <div class="misi">
                <div class="vismis-title">MISI</div>
                <div class="vismis-vl">
                    <ol>
                        <li>Mempelopori pengembangan ilmu pengetahuan dan teknologi bagi kemaslahatan masyarakat.</li>
                        <li>Mengembangkan potensi kreatif, keilmuan, dan sosial.</li>
                        <li>Mempererat kekeluargaan di internal dan eksternal secara nyata.</li>
                        <li>Mengoptimalkan peran dalam dunia kemahasiswaan untuk mendukung terciptanya transformasi dan
                            reformasi HIMA SI.</li>
                    </ol>
                </div>
            </div>
        </div>
    
        <div class="prv-gallery">
            <div class="vismis" style="color: #222831; padding: 0; width: auto;">
                <p style="font-family: 'Righteous', cursive; font-size: 80px;">Gallery</p>
                <p style="font-family: 'Ruda', sans-serif; font-size: 20px;">Our Unforgettable Moments</p>
                <button class="ctn-btn">MORE</button>
            </div>
            <div class="vismis" style="color: #222831; width: 780px;">
                <div class="prv-gallery-img">
                    <img src="" alt="">
                </div>
                <div class="prv-gallery-img">
                    <img src="" alt="">
                </div>
                <div class="prv-gallery-img" style="width: 770px;">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    
        <div class="vm-bag" style="text-align: center; padding-top: 30px;">
            <div class="vismis">
                <div class="vismis-title" style="width: 130px;">Contact</div>
                <div class="vismis-vl" style="text-align: center;">
                    <p style="font-weight: 500; font-size: 17px; padding-top: 15px;">UNIVERSITAS NEGERI SULTAN SYARIF KASIM
                        RIAU</p>
                    <p style="font-size: 16px; padding-top: 10px;">Jl. HR. Soebrantas Panam No.Km. 15, RW.No. 155, Tuah
                        Karya, Kec. Tampan, Kabupaten Kampar, Riau 28293</p>
                </div>
            </div>
        </div>
    </div>
</form>
