<form action="index.html?views=profile">
    <div id="content" style="padding: 0;">
        <div class="banner" style="margin-top: 80px;">
            <div class="banner-text">
                <p style="font-family: 'Righteous', cursive; font-size: 80px;">SALAM <span
                        style="font-family: 'Righteous', cursive; color: #3EB3D9;">SATU SUARA!</span> PASTI!</p>
                <p style="font-size: 33px;">HIMPUNAN MAHASISWA TEKNIK INFORMATIKA</p>
                <p style="font-size: 18px;">UNIVERSITAS ISLAM NEGERI SULTAN SYARIF KASIM RIAU</p>
            </div>
            <button class="banner-btn"><a href="index.html?views=profile">ABOUT US</a></button>
        </div>
    
        <div class="vm-bag">
            <div class="visi" style="position: relative; bottom: 23px;">
                <div class="vismis-title">VISI</div>
                <div class="vismis-vl">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta qui aliquam, dolor quo autem cumque magni facere maiores omnis at. Ducimus non dicta maxime? Autem ex libero repudiandae suscipit nam.</p>
                </div>
            </div>
            <div class="misi">
                <div class="vismis-title">MISI</div>
                <div class="vismis-vl">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis doloremque tempore numquam iusto, porro fugit praesentium officiis placeat quisquam fuga cupiditate. Dignissimos aliquid veritatis debitis qui ullam at nemo veniam.</p>
                </div>
            </div>
        </div>
        </div>
    
        <div class="prv-gallery">
            <div class="vismis" style="color: #222831; padding: 0; width: auto; position: relative; bottom: 200px;">
                <p style="font-family: 'Righteous', cursive; font-size: 80px;">Gallery</p>
                <p style="font-family: 'Ruda', sans-serif; font-size: 20px;">Our Unforgettable Moments</p>
                <button class="ctn-btn"><a href="index.html?views=gallery">MORE</a></button>
            </div>
            <div class="vismis" style="color: #222831; width: 780px;">
                <div class="prv-gallery-img">
                    <img src="../assets/img/kurmatif1.jpg" alt="" class="pict-1">
                </div>
                <div class="prv-gallery-img">
                    <img src="../assets/img/kurmatif2.jpg" alt="" class="pict-1">
                </div>
                <div class="prv-gallery-img" style="width: 770px;">
                    <img src="../assets/img/kurmatif3.jpg" alt="" class="pict-2">
                </div>
            </div>
        </div>
    
        <div class="vm-bag" style="text-align: center; padding-top: 30px;">
            <div class="vismis">
                <div class="vismis-title" style="width: 130px;">Contact</div>
                <div class="vismis-vl" style="text-align: center;">
                    <p style="font-weight: 500; font-size: 17px; padding-top: 15px;">UNIVERSITAS NEGERI SULTAN SYARIF KASIM
                        RIAU</p>
                    <p style="font-size: 16px; padding-top: 10px;">Jl. HR. Soebrantas Panam No.Km. 15, RW.No. 155, Tuah
                        Karya, Kec. Tampan, Kabupaten Kampar, Riau 28293</p>
                </div>
            </div>
        </div>
    </div>
</form>
