<div id="content" style="padding: 152px 30px;">
    <div class="ctn-title">
        <p style="font-family: 'Righteous', cursive;">Gallery</p>
    </div>

    <div class="brder">
        <p class="photo-title">KURMATIF</p>
        <p class="photo-date" style="font-size: 18px; font-family: 'Ruda', sans-serif;">25/3/2019</p>
        
        <div class="ax ay">
            <div class="slides">
                <input type="radio" name="a" id="a1" checked>
                <input type="radio" name="a" id="a2">
                <input type="radio" name="a" id="a3">

                <div class="slide p1">
                    <img src="assets/img/kurmatif1.jpeg" alt="">
                </div>

                <div class="slide p2">
                    <img src="assets/img/kurmatif2.jpeg" alt="">
                </div>

                <div class="slide p3">
                    <img src="assets/img/kurmatif3.jpeg" alt="">
                </div>

                <div class="navigation">
                    <label for="a1" class="bar"></label>
                    <label for="a2" class="bar"></label>
                    <label for="a3" class="bar"></label>
                </div>

            </div>
        </div>
    </div>

    <div class="brder">
        <p class="photo-title">SERTIJAB</p>
        <p class="photo-date" style="font-size: 18px; font-family: 'Ruda', sans-serif;">12/1/2019</p>
        
        <div class="ax ay">
            <div class="slides">
                <input type="radio" name="a" id="a4" checked>
                <input type="radio" name="a" id="a5">
                <input type="radio" name="a" id="a6">

                <div class="slide p4">
                    <img src="assets/img/peoples1.jpg" alt="">
                </div>

                <div class="slide p5">
                    <img src="assets/img/peoples2.jpg" alt="">
                </div>

                <div class="slide p6">
                    <img src="assets/img/peoples3.jpg" alt="">
                </div>

                <div class="navigation">
                    <label for="a4" class="bar"></label>
                    <label for="a5" class="bar"></label>
                    <label for="a6" class="bar"></label>
                </div>

            </div>
        </div>
    </div>
</div>