<div id="content" style="padding: 152px 0">
    <div class="banner-p">
        <div class="banner-text-p">
            <p style="font-family: 'Righteous', cursive">Profile</p>
        </div>
    </div>
    <img src="assets/img/himatif_trbg.png" alt="" class="himatif-logo">
    <div class="vm-bag" style="text-align: center; padding-top: 50px; padding-bottom: 10px;">
        <div class="sejarah">
            <div class="vismis-title" style="width: 130px;">SEJARAH</div>
            <div class="vismis-vl" style="text-align: center;">
                <p style="font-size: 16px; padding-top: 10px;">HIMATIF(Himpunan Mahasiswa Program Studi Teknik Informatika) didirikan pada tanggal 7 Juni 2001 di Fakultas Sains dan Teknologi UIN Sultan Syarif Kasim Riau</p>
            </div>
        </div>
    </div>
    <div class="vm-bag">
        <div class="visi" style="position: relative; bottom: 23px;">
            <div class="vismis-title">VISI</div>
            <div class="vismis-vl">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta qui aliquam, dolor quo autem cumque magni facere maiores omnis at. Ducimus non dicta maxime? Autem ex libero repudiandae suscipit nam.</p>
            </div>
        </div>
        <div class="misi">
            <div class="vismis-title">MISI</div>
            <div class="vismis-vl">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis doloremque tempore numquam iusto, porro fugit praesentium officiis placeat quisquam fuga cupiditate. Dignissimos aliquid veritatis debitis qui ullam at nemo veniam.</p>
            </div>
        </div>
    </div>
    <div class="kw-bag" style="margin-bottom: 50px;">
            <div class="box-kw" style="background: url('../assets/img/ketua.jpg'); background-repeat: no-repeat; background-position-x: -168px;"></div>
            <div class="ketua-title">
                <p style="font-family: 'Righteous', cursive; font-size: 35px;">M. RIDHO DWI PUTRA</p>
                <p style="font-family: 'Ruda', sans-serif;">KETUA UMUM HIMATIF Periode 2021/2022</p>
            </div>
            <div class="box-kw" style="float: right; position: relative; top: 200px; background: url('../assets/img/wakil.jpg'); background-repeat: no-repeat;"></div>
            <div class="wakil-title">
                <p style="font-family: 'Righteous', cursive; font-size: 35px;">MUHAMMAD AL HAFIS</p>
                <p  style="font-family: 'Ruda', sans-serif;">WAKIL KETUA UMUM HIMATIF Periode 2021/2022</p>
            </div>
    </div>
</div>