<div id="footer">
    <div class="socmed" style="font-size: 30px; margin-bottom: 20px;">
        <i class="fab fa-instagram">
            <span style="font-size: 12px; position: relative; bottom: 7px; right: 5px;">@himatifuinsuska</span>
        </i>
        <i class="fab fa-facebook-square">
            <span style="font-size: 12px; position: relative; bottom: 7px; right: 5px;">Himatif UIn Suska</span>
        </i>
        <i class="fab fa-twitter-square">
            <span style="font-size: 12px; position: relative; bottom: 7px; right: 5px;">@himatifuinsuska</span>
        </i>
    </div>
    <p>Copyright © <span id="currentYear"></span>  ALMUDA TEAM. All Rights Reserved.</p>
</div>

<script>
    const today = new Date();
    const year = today.getFullYear();
    document.getElementById("currentYear").innerHTML = year.toString();
</script>